{{#each actions as |a|}}
<button data-id="{{a.id}}"{{#if a.drag}}class="draggable"{{/if}}><i class="{{a.icon}}"></i> {{a.name}}</button>
{{/each}}
<div class="shortcuts">
  {{#each smallActions as |a|}}
  <button data-id="{{a.id}}"><i class="{{a.icon}}"></i></button>
  {{/each}}
</div>