<div class="browser {{#if pickerMode}}pickermode{{/if}}">
  <header class="search-bar form-group">
    <div class="indicator"><i class="mou-icon mou-logo"></i></div>
    <input type="search" placeholder="{{localize "MOU.search_placeholder"}}" aria-label="Search" value="{{searchTerms}}">
    <button class="search"><i class="fa-regular fa-magnifying-glass"></i> {{localize "MOU.search"}}</button>
    <div class="options">
      <i class="fa-solid fa-lightbulb{{#unless toggleHint}}-slash{{/unless}}" data-id="hint" 
        title="{{#if toggleHint}}{{localize "MOU.toggle_hints_enabled"}}{{/if}}{{#unless toggleHint}}{{localize "MOU.toggle_hints_disabled"}}{{/unless}}"></i>
    </div>
  </header>
  <div class="container">
    <div class="filters-toggle {{#unless filtersVisible}}collapsed{{/unless}}"><i class="fa-solid fa-angles-{{mouIf filtersVisible "left" "right"}}"></i></div>
    <aside class="filters {{#unless filtersVisible}}collapsed{{/unless}}">{{{mouFilters}}}</aside>
    <main class="content">
      <div class="loader"><i class="fa-regular fa-hourglass-start"></i> {{localize "MOU.loading"}}</div>
    </main>
  </div>
  <div class="advanced_settings form-group">{{{ mouSettings }}}</div>
  <footer class="status form-group">
    <div class="support">
      {{#if user.patron}}<i class="fa-solid fa-heart"></i> {{localize "MOU.thanks_supporting"}}{{/if}}
      {{#unless user.patron}}<i class="fa-brands fa-patreon"></i> <a href="https://www.patreon.com/moulinette" target="_blank">{{localize "MOU.support_moulinette"}}</a>{{/unless}}
    </div>
    <div class="settings_toggle"><a href>{{localize "MOU.advanced_settings"}}</a></div>
    <div class="count"></div>
  </footer>
</div>
