<div class="browser">
  <header class="search-bar">
    <input type="text" placeholder="{{localize "MOU.search"}}" aria-label="Search" value="{{filters.values.searchTerms}}">
  </header>
  <div class="container">
    <div class="filters-toggle {{#unless filters.prefs.visible}}collapsed{{/unless}}"><i class="fa-solid fa-angles-{{mouIf filters.prefs.visible "left" "right"}}"></i></div>
    <aside class="filters {{#unless filters.prefs.visible}}collapsed{{/unless}}">
      <div class="clear"><a href>{{localize "MOU.clear_filters"}}</a></div>
      <h2 data-id="collection">{{localize "MOU.collection"}} <i class="fa-regular fa-square-{{mouIf filters.prefs.opensections.collection "minus" "plus"}}"></i></h2>
      <div data-id="collection" class="{{#unless filters.prefs.opensections.collection}}collapsed{{/unless}}">
        <ul>
          {{#each filters.collections as |c|}}
          <li>
            <input type="radio" name="collection" id="{{c.id}}" {{#if (eq ../filters.prefs.collection c.id)}}checked{{/if}}>
            <label for="{{c.id}}">{{c.name}}</label>
            {{#if c.configurable}}
            <div class="action" data-col="{{c.id}}"><a href><i class="fa-solid fa-gears" title="{{localize "MOU.configure_collection"}}"></i></a></div>
            {{/if}}
          </li>
          {{/each}}
        </ul>
      </div>
      
      <h2 data-id="asset_type">{{localize "MOU.asset_type"}} <i class="fa-regular fa-square-{{mouIf filters.prefs.opensections.asset_type "minus" "plus"}}"></i></h2>
      <div class="options {{#unless filters.prefs.opensections.asset_type}}collapsed{{/unless}}" data-id="asset_type">
        <ul>
          {{#each filters.types1 as |t|}}
          <li>
            <input type="radio" name="asset_type" id="{{t.id}}" {{#if (eq ../filters.values.type t.id)}}checked{{/if}}>
            <label for="{{t.id}}">{{t.name}} ({{prettyNumber t.assetsCount false}})</label>
          </li>
          {{/each}}
        </ul>
        <ul>
          {{#each filters.types2 as |t|}}
          <li>
            <input type="radio" name="asset_type" id="{{t.id}}" {{#if (eq ../filters.values.type t.id)}}checked{{/if}}>
            <label for="{{t.id}}">{{t.name}} ({{prettyNumber t.assetsCount false}})</label>
          </li>
          {{/each}}
        </ul>
      </div>
      
      <h2 data-id="packs">{{localize "MOU.packs"}} <i class="fa-regular fa-square-{{mouIf filters.prefs.opensections.packs "minus" "plus"}}"></i></h2>
      <div data-id="packs" class="packs {{#unless filters.prefs.opensections.packs}}collapsed{{/unless}}">
        <div>
          {{#if filters.creators}}
          <select name="creators" id="creator-select">
            <option value="">--Please choose a creator--</option>
            {{#each filters.creators as |c|}}
              <option value="{{c.id}}" {{#if (eq ../filters.values.creator c.id)}}selected{{/if}}>{{c.name}} ({{prettyNumber c.assetsCount true}})</option>
            {{/each}}
          </select>
          {{/if}}
          {{#if filters.packs}}
          <select name="packs" id="pack-select">
            <option value="">--Please choose a pack--</option>
            {{#each filters.packs as |p|}}
              <option value="{{p.id}}" {{#if (eq ../filters.values.pack p.id)}}selected{{/if}}>{{p.name}} ({{prettyNumber p.assetsCount true}})</option>
            {{/each}}
          </select>
          {{/if}}
        </div>
        {{#if filters.folders}}
        <div class="folders">
          <ol>
          {{#each filters.folders as |f|}}
          <li {{#if (eq ../filters.values.folder f.id)}}class="selected"{{/if}}><i class="fa-solid fa-folder{{#if (eq ../filters.values.folder f.id)}}-open{{/if}}"></i>&nbsp;<a data-path="{{f.id}}">{{f.name}}</a></li>
          {{/each}}
          </ol>
        </div>
        {{/if}}
      </div>
    </aside>
    <main class="content">
    </main>
  </div>
</div>
