<div class="browser {{#if pickerMode}}pickermode{{/if}}">
  <header class="search-bar form-group">
    <div class="indicator"><i class="mou-icon mou-logo"></i></div>
    <div class="input-wrapper">
      <input type="text" placeholder="{{localize "MOU.search_placeholder"}}" aria-label="Search" value="{{searchTerms}}">
      <button class="reset-button">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <button class="search"><i class="fa-regular fa-magnifying-glass"></i> {{localize "MOU.search"}}</button>
    <div class="options">
      <i class="fa-solid fa-lightbulb{{#unless toggleHint}}-slash{{/unless}}" data-id="hint" 
        title="{{#if toggleHint}}{{localize "MOU.toggle_hints_enabled"}}{{/if}}{{#unless toggleHint}}{{localize "MOU.toggle_hints_disabled"}}{{/unless}}"></i>
    </div>
  </header>
  <div class="container">
    <div class="filters-toggle {{#unless filtersVisible}}collapsed{{/unless}}"><i class="fa-solid fa-angles-{{mouIf filtersVisible "left" "right"}}"></i></div>
    <aside class="filters {{#unless filtersVisible}}collapsed{{/unless}}">{{{mouFilters}}}</aside>
    <main class="content">
      <div class="loader-wrapper">
        <div class="loader">
          <div class="loader-content">
            <i class="fa-regular fa-hourglass-start"></i>
            <b>{{localize "MOU.loading"}}</b>
          </div>
        </div>
      </div>
    </main>
  </div>
  <div class="advanced_settings form-group">{{{ mouSettings }}}</div>
  <footer class="status form-group">
    <div class="support">
      {{#if user.patron}}<i class="fa-solid fa-heart"></i> {{localize "MOU.thanks_supporting"}}{{/if}}
      {{#unless user.patron}}<i class="fa-brands fa-patreon"></i> <a href="https://www.patreon.com/moulinette" target="_blank">{{localize "MOU.support_moulinette"}}</a>{{/unless}}
    </div>
    <div class="settings_toggle"><a href>{{localize "MOU.advanced_settings"}}</a></div>
    <div class="count"></div>
  </footer>
</div>
