{{#each assets as |a|}}
  <div class="asset {{a.format}}" data-id="{{a.id}}" data-type="{{a.type}}">
    <div class="overlay"></div>
    <div class="menu"></div>
    <div class="preview" {{#if a.background_color}}style="background-color: #{{a.background_color}}"{{/if}}>
      <img src="{{a.image}}"/>
      {{#if a.icons}}
      <ul class="icons">
        {{#each a.icons as |i|}}<li title="{{i.descr}}"><i class="{{i.icon}}"></i></li>{{/each}}
      </ul>
      {{/if}}
    </div>
    <div class="info">
      <div class="source" title="{{a.creator}} - {{a.pack}}">{{a.creator}} - {{a.pack}}</div>
      <div class="title">{{a.name}}</div>
    </div>
    <div class="meta">
      {{#each a.meta as |m|}}{{#unless @first}}, {{/unless}}{{m}}{{/each}}
    </div>
  </div>
{{/each}}