<div class="config">
  <h2>{{localize "MOU.index_sources"}}</h2>
  <div class="description">{{{localize "MOU.description_index_folders"}}}</div>
  <div class="sources">
    <div class="header">
      <h3 class="cfg-name">{{localize "MOU.name"}}</h3>
      <div class="cfg-path">{{localize "MOU.path"}}</div>
      <div class="cfg-source">{{localize "MOU.source"}}</div>
      <div class="cfg-source">{{localize "MOU.options"}}</div>
      <div class="cfg-assets">{{localize "MOU.assets_count"}}</div>
      <div class="cfg-actions">{{localize "MOU.actions"}}</div>
    </div>
    {{#unless folders}}
    <div class="cfg-message">
      <div class="mou-alert mou-alert-warning mou-alert-white rounded">
        <div class="icon"><i class="fa fa-warning"></i></div>
        <div class="message">{{localize "MOU.no_folder_configured"}}</div>
      </div>
    </div>
    {{/unless}}
    {{#if folders}}
      {{#each folders as |f|}}
      <div class="cfg-folder" data-idx="{{@index}}">
        <h3 class="cfg-name">{{f.name}}</h3>
        <div class="cfg-path">{{f.path}}/</div>
        <div class="cfg-source">{{f.source}}</div>
        <div class="cfg-source">
          {{#if f.options.thumbs}}<i class="fa-regular fa-image" title="{{localize "MOU.source_generate_thumbnails"}}"></i>{{/if}}
          {{#if f.options.metadata}}<i class="fa-regular fa-file-circle-info" title="{{localize "MOU.source_generate_metadata"}}"></i>{{/if}}
        </div>
        <div class="cfg-assets">{{prettyNumber f.assets true}}</div>
        <div class="cfg-actions">
          <a data-id="scan" title="{{localize "MOU.scan_hint"}}"><i class="fa-regular fa-folder-magnifying-glass fa-lg"></i></a>
          <a data-id="reindex" title="{{localize "MOU.reindex_hint"}}"><i class="fa-solid fa-arrow-rotate-right"></i></a>
          <a data-id="edit" title="{{localize "MOU.edit_hint"}}"><i class="fa-solid fa-pen-to-square"></i></a>
          <a data-id="delete" title="{{localize "MOU.delete_hint"}}"><i class="fa-solid fa-trash"></i></a>
        </div>
      </div>
      {{/each}}
    {{/if}}
  </div>
  
  <footer>
    <div class="actions">
      {{#if indexingRequired}}
        <button data-id="index-folders"><i class="fa-solid fa-folder-gear"></i> {{localize "MOU.index_folder"}}</button>
      {{/if}}
      <button data-id="add-folder"><i class="fa-solid fa-folder-plus"></i> {{localize "MOU.add_folder"}}</button>
    </div>
    <div class="more"><a href>{{localize "MOU.advanced_options"}} <i class="fa-solid fa-chevrons-{{#if advanced}}up{{/if}}{{#unless advanced}}down{{/unless}}"></i></a></div>  
    {{#if advanced}}
    <div class="actions">
      <button data-id="delete-index"><i class="fa-solid fa-trash"></i> {{localize "MOU.delete_index"}}</button>
      <button data-id="export-configuration"><i class="fa-solid fa-file-export"></i> {{localize "MOU.export_configuration"}}</button>
      <button data-id="import-configuration"><i class="fa-solid fa-file-import"></i> {{localize "MOU.import_configuration"}}</button>
    </div>
    {{/if}}
  </footer>
</div>